<div class="sprite" style="background-position: -@(Col * 16)px -@(Row * 16)px;">
</div>

@code {
    public bool IsOccupied { get; set; }
    [Parameter] public TileType Type { get; set; } = TileType.Grass;

    // These become private because the component calculates them internally
    private int Row => SpriteMap.GetCoords(Type).Row;
    private int Col => SpriteMap.GetCoords(Type).Col;
}